body {
background-color: rgb(43, 26, 53);
}
header{
   
    text-align: center;
   padding: 15px;
   margin: 20px;
  
}
header {
  border-style: solid; 
  border-width: 2px;   
  border-color: rgb(96, 244, 255);  
}
h1 {
color: white;
text-align: center;
}
p,ul {
font-family: verdana;
font-size: 20px;
}
#bu
{text-align: center;
color: rgb(227, 194, 255);
background-color: #265d99;
padding: 10px 20px; 
  }
  #bu:hover {
  background-color: #3f1529; 
 
}
div{background-color: bisque;}
